
@{
    ViewData["Title"] = "Index";
}

<h1>Página Inicial</h1>


@using (Html.BeginForm("IrParaDesafio1", "Home"))
{
    <input type="submit" value="Desafio 1" />
}

@using (Html.BeginForm("IrParaDesafio2", "Home"))
{
    <input type="submit" value="Desafio 2" />
}